@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  color: inherit;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  cursor: pointer;
}
